#image_canvas
{
	position:absolute;
	left:0;
	top:0;
}

#left_menu_options
{
	left:0;
}

input
{
	font: 100%/120% Helvetica, sans-serif;
	color:#dfdfdf;
}

button
{
	font: 100%/120% Helvetica, sans-serif;
}

ul
{
	text-align:left;
	-webkit-padding-start: 0px;
}

a
{
	display:block;
}

li
{
	background:#050505;
	font: 100%/120% Helvetica, sans-serif;
	color:#dfdfdf;
	width:10em;
	list-style-type: none;
	border:solid;
	border-width:1px;
	border-color:#bfbfbf;
	left:0;
}

textarea
{
	background:#0f0f0f;
	font: 100%/120% Helvetica, sans-serif;
	color:#dfdfdf;
	resize:none;
}

#annotation_stream
{
	position:absolute;
	right:0px;
	border:0;
	top:0;
}

#annotation_input
{
	position:absolute;
	right:0px;
	bottom:0;
	border-color:#5f5f5f;
}

#left_menu
{
    position: fixed;
    left: -10em;
    top: 0;
    bottom: 0;
    background-color: #0f0f0f;
    border-right: 50px solid #0f0f0f;
    box-shadow: 4px 0 5px rgba(255,255,255,0.1);    
    z-index: 1;
    cursor: pointer;
}
 
#left_menu:after
{
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    right: -70px;
    top: 50%;
	
    border-width: 15px 10px;
    border-style: solid;
	opacity:1;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.25);
}

#left_menu
{
    width: 8em;
    list-style-type: none;
    margin: 0;
	opacity:0.0;
    padding: 1em;
}

#left_menu, #left_menu *
{
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;

}

#left_menu:hover
{
	opacity:1;
    left: 0;
}

#point_annotation_edit
{
  position:absolute;
  display:none;
  top:0px;
  left:0px;
  z-index:1;
}
